<ion-header>
  <ion-toolbar color="primary">      
    <ion-title><b>Documento</b></ion-title>
    <ion-buttons slot="start">
        <ion-back-button  text="Regresar" defaultHref="menu/{{vehiculo?.cedula}}"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>información de los documentos de la placa: <b>{{placa}}</b></ion-list-header>
      
     <div *ngIf="vehiculoVen?.soat!=null; else elseBlock">
      <ion-item color="danger" >
      <ion-label>Soat </ion-label>
      <p slot="end">{{vehiculoVen?.soat|date: "longDate"}}</p>
      <ion-icon name="close-circle" slot="start"></ion-icon>
      </ion-item>
     </div>
     <ng-template #elseBlock>
        <div *ngIf="vehiculo?.soat==null; else elsesoat ">
            <ion-item color="warning" >
                <ion-label>Soat </ion-label>
                <p slot="end">No tiene el documento</p>
                <ion-icon name="close-circle" slot="start"></ion-icon>
                </ion-item>
        </div>
         <ng-template #elsesoat>
        <ion-item >
      <ion-label>Soat</ion-label>
      <p slot="end">{{vehiculo?.soat|date: "longDate"}}</p>
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
    
    </ion-item>
  </ng-template>
  </ng-template>
 
  <div *ngIf="vehiculoVen?.polizaresp!=null; else elseBlock1">
      <ion-item color="danger" >
      <ion-label>RCC y RCE</ion-label>
      <p slot="end">{{vehiculoVen?.polizaresp|date: "longDate"}}</p>
      <ion-icon name="close-circle" slot="start"></ion-icon>
      </ion-item>
     </div>
     <ng-template #elseBlock1>
      <div *ngIf="vehiculo?.polizaresp==null else elsepoliza">
        <ion-item color="warning" >
            <ion-label>RCC y RCE</ion-label>
            <p slot="end">No tiene el documento</p>
            <ion-icon name="close-circle" slot="start"></ion-icon>
            </ion-item>
    </div>
    <ng-template #elsepoliza>   
    <ion-item >            
               <ion-label>RCC y RCE</ion-label>
               <p slot="end">{{vehiculo?.polizaresp|date: "longDate"}}</p>
              <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>  
</ion-item>
  </ng-template> 
</ng-template>   
  <div *ngIf="vehiculoVen?.tarjetaop!=null; else elseBlock2">
      <ion-item color="danger" >
      <ion-label>Tarjeta de Operación</ion-label>
      <p slot="end">{{vehiculoVen?.tarjetaop|date: "longDate"}}</p>
      <ion-icon name="close-circle" slot="start"></ion-icon>
      </ion-item>
     </div>
     <ng-template #elseBlock2>
        <div *ngIf="vehiculo?.tarjetaop==null else elsetarjeop">
            <ion-item color="warning" >
                <ion-label>Tarjeta de Operación</ion-label>
                <p slot="end">No tiene el documento</p>
                <ion-icon name="close-circle" slot="start"></ion-icon>
                </ion-item>
        </div>
        <ng-template #elsetarjeop>   
        <ion-item >            
                   <ion-label>Tarjeta de Operación</ion-label>
                   <p slot="end">{{vehiculo?.tarjetaop|date: "longDate"}}</p>
                  <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>  
    </ion-item>
  </ng-template>
  </ng-template>
  <div *ngIf="vehiculoVen?.todo!=null; else elseBlock3">
      <ion-item color="danger" >
      <ion-label>Todo Riesgo </ion-label>
      <p slot="end">{{vehiculoVen?.todo|date: "longDate"}}</p>
      <ion-icon name="close-circle" slot="start"></ion-icon>
      </ion-item>
     </div>
     <ng-template #elseBlock3>
        <div *ngIf="vehiculo?.todo==null else elsetodo">
            <ion-item color="warning">
                <ion-label>Todo Riesgo</ion-label>
                <p slot="end">No tiene el documento</p>
                <ion-icon name="close-circle" slot="start"></ion-icon>
                </ion-item>
        </div>
        <ng-template #elsetodo>
        <ion-item >
              <ion-label>Todo Riesgo</ion-label>
      <p slot="end">{{vehiculo?.todo|date: "longDate"}}</p>
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
    
    </ion-item>
  </ng-template>
  </ng-template>

  <div *ngIf="vehiculoVen?.tecno!=null; else elseBlock33">
    <ion-item color="danger" >
    <ion-label>Tecnomecanica </ion-label>
    <p slot="end">{{vehiculoVen?.tecno|date: "longDate"}}</p>
    <ion-icon name="close-circle" slot="start"></ion-icon>
    </ion-item>
   </div>
   <ng-template #elseBlock33>
      <div *ngIf="vehiculo?.tecno==null else elsetecno">
          <ion-item color="warning" >
              <ion-label>Tecnomecanica</ion-label>
              <p slot="end">No tiene el documento</p>
              <ion-icon name="close-circle" slot="start"></ion-icon>
              </ion-item>
      </div>
      <ng-template #elsetecno>
      <ion-item >
            <ion-label>Tecnomecanica</ion-label>
    <p slot="end">{{vehiculo?.tecno|date: "longDate"}}</p>
    <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
  
  </ion-item>
</ng-template>
</ng-template>
  
  <div *ngIf="vehiculoVen?.preventiva!=null; else elseBlock4">
      <ion-item color="danger" >
      <ion-label>Preventiva </ion-label>
      <p slot="end">{{vehiculoVen?.preventiva|date: "longDate"}}</p>
      <ion-icon name="close-circle" slot="start"></ion-icon>
      </ion-item>
     </div>
     <ng-template #elseBlock4>
        <div *ngIf="vehiculo?.preventiva==null else elsetodo">
            <ion-item color="warning" >
                <ion-label>Preventiva</ion-label>
                <p slot="end">No tiene el documento</p>
                <ion-icon name="close-circle" slot="start"></ion-icon>
                </ion-item>
        </div>
        <ng-template #elsetodo>
        <ion-item >
      <ion-label>Preventiva</ion-label>
      <p slot="end">{{vehiculo?.preventiva|date: "longDate"}}</p>
      <ion-icon name="checkmark-circle-outline" slot="start" color="success"></ion-icon>
       
    </ion-item>
  </ng-template>
  </ng-template>
  </ion-list>
</ion-content>
