<ion-header>
  <ion-toolbar>
    <ion-title>ayuda</ion-title>
    <ion-buttons slot="secondary">
    <ion-button (click)="salir();">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content fullscreen>
    <ion-card>      
      <ion-card-header>
        <ion-card-subtitle>Señor Usuario</ion-card-subtitle>
        <ion-card-title>Bienvenido </ion-card-title>
      </ion-card-header>
      <ion-card-content>
      Esta aplicación permite realizar la consulta del estado de los documentos
      del vehículo registrado en nuestra empresa
      </ion-card-content>
      
    </ion-card>

    <ion-card>
        <ion-item>
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-label>Consultar Vehículos</ion-label>
          
        </ion-item>
      
        <ion-card-content>
          Para consultar <b> "Primero Ingrese su Cedula o Nit (solo numeros)  " </b>
          <br>
          <i>Nota: ejemplo: 32490000 si es nit ingresar en el numero de verificación sin el guion</i>
           despues presione consultar
           <br><br>
           A continuación:
           Se le mostrara los Vehículos registrados a su cedula donde se le mostrara:<br>
           - Color <ion-badge color="success">Verde</ion-badge> si el vehículo esta al día con los documentos Obligatorios <br>
           - <ion-badge color="danger">Rojo</ion-badge> si se le va a vencer uno o mas documentos  o esta vencido
            
           <ion-img class="imagen" src="assets/img/ayuda1.png"></ion-img>
            
        </ion-card-content>
        <ion-card>
          <ion-item>
            <ion-icon name="clipboard" slot="start"></ion-icon>
            <ion-label>Verificación de los documentos de un Vehiculos</ion-label>
          </ion-item>
        <ion-card-content>
            Los documentos Obligatorios para los Vehículos Publicos son:
            <br><b>Soat</b>
            <br><b>Poliza de Responsabilidad Contractual y Extracontractual(RCC Y RCE)</b>
            <br><b>Tarjeta de Operacion</b>
            <br><b>Seguro Todo Riesgo</b>
            <br><b>Tecnomecanica</b>
            <br><b>Preventiva o Bimensual</b><br><br>
            
            En el que si el campo es de color <ion-badge color="danger">Rojo</ion-badge> 
            Lo que quiere decir es que el documento pronto vencera o esta vencido y 
            en la parte derecha estara la fecha de su vencimiento <br><br>

            Si el campo es de color <ion-badge color="warning">Amarillo </ion-badge> significa
            que no tenemos información del documento en nuestro sistema <br><br>

            Si es de color <ion-badge color="success">Verde </ion-badge> significa
            que el documento esta al día y no vencera este mes<br><br><br>








          
        
            
           <ion-img class="imagen1" src="assets/img/ayuda2.png" ></ion-img>
            
        </ion-card-content>
        </ion-card>
         
      </ion-card>
  </ion-content>
