<ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="abrirModal();">
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
</ion-toolbar>
  <ion-content color="ligth" padding>  
    
  <form #form="ngForm" (ngSubmit)="validarExistencia()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Consulta|<b>TSCO</b></h3>
          </div>
          <div padding>
            <ion-item> <ion-img class="imagen" src="assets/img/logo.png"></ion-img></ion-item>      
                       
            <ion-item>
              <ion-input name="cedula" type="numeric" placeholder="ingrese su cedula o Nit" ngModel [(ngModel)]="cedula" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" >Consultar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>