<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button  text="Regresar" defaultHref="login"></ion-back-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <h1>Bienvenido</h1><h4><B>{{nombre}}</B></h4>
  
  <div *ngIf="placas.length >= 1">    <!-- code to render a large video block-->

  <ion-card color="success">
      <ion-card-header>
        <ion-icon name="checkmark" ></ion-icon>
          <ion-card-title><b>Vehículos al Día</b></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
  <ion-list *ngFor="let placa of placas;" class="success">
      <div *ngIf="placa.placa!=placasven.placa"> 
        <ion-item color="success" (click)="getdocvencido(placa.placa)">
          <ion-icon name="car" slot="start"></ion-icon>
          <ion-label detail>{{placa.placa}}</ion-label>
        </ion-item> 
        </div>     
    </ion-list>
  </ion-card-content>
  </ion-card>
</div>
<div *ngIf="placasven.length >= 1">
  <ion-card color="danger">
      <ion-card-header>
          <ion-icon name="nuclear" slot="start"></ion-icon>
          <ion-card-title><b>Vehículos con Vencimiento</b></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
  <ion-list  *ngFor="let placa of placasven;" class="danger">
        <ion-item color="danger" (click)="getdocvencido(placa.placa)">
          <ion-icon name="car" slot="start"></ion-icon>
          <ion-label detail>{{placa.placa}}</ion-label>
        </ion-item>      
    </ion-list>
  </ion-card-content>
  </ion-card>
</div>
  
  
</ion-content>
